* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
body {
    max-width: 100%;
    overflow-x: hidden;
}

button{
  outline: none;
}
/* html {
  scroll-behavior: smooth;
} */
.pc_parent {
  display: none;
}


#smoothBtn{
  display: block;
  position: fixed;
  right: 20px;
  bottom: 30px;
  filter: opacity(50%);
}
#smoothBtn{
  display: none;
}
#smoothBtn:hover{
  filter: opacity(100%);
  transition: 0.4s;
}
#smoothBtn img{
  height: 50px;
  width: 50px;
}

.main_container {
  width: 100%;
  margin: 0 auto;
}
.contact_header {
  background-color: #000000;
  color: #FFFFFF;
  width: 100%;
  height: 44px;
}
.contact_header li{
  float: left;
  font-size: 11px;
  font-family: 'Nanum Gothic', sans-serif;
}
.contact_header p{
  float: right;
}
.r_l a{
color: #FFFFFF;
font-size: 11px;
font-family: 'Nanum Gothic', sans-serif;
}
.r_l {
  padding-top: 10px;
  margin-right: 14px;
}
.navigation li{
  padding-top: 14px;
  margin-left: 14px;
}
.head_links {
  display: inline-block;
  width: 100%;
}

/* Header Section only */

.main_wrapper {
  padding-bottom: 30px;
}
.main_image {
  position: relative;
height: 501px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../images/mobilem.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% 50%;
  bottom: 1px;
}
.main_logo img{
  padding: 14px;
}
.sand_icon {
  color: #FFFFFF;
  float: right;
  margin-top: -82px;
  padding-right: 16px;
}
.mmenu {
  display: none;
  position: absolute;
  right: 0%;
  border-radius: 50px;
}
.mmenu ul li a{
  display: block;
  padding: 20px 50px;
  background-color: orange;
  color: white;
  filter: opacity(90%);
  border-radius: 0px;
  font-family: 'Nanum Gothic', sans-serif;
}
.mmenu ul li a:hover{
  background-color: gray;
}
.search_icon {
  color: #FFFFFF;
  float: right;
  margin-top: -82px;
  padding-right: 38px;
}
.hero1 p{
  text-align: center;
  color: #FFFFFF;
  margin-right: 11px;
  margin-top: 108px;
  font-size: 18px;
  font-family: 'Nanum Gothic', sans-serif;
}
.hero2 h2 {
  text-align: center;
  color: #FFFFFF;
  margin-top: 10px;
  font-size: 80px;
  font-family: 'Libre Franklin', sans-serif;
}
.exp_button {
  text-align: center;
}
.main_button {
  background-color: #ffb606;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 12px;
  margin: 4px 2px;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Nanum Gothic', sans-serif;
}
.main_button:hover {
  opacity: 1
}
.main_button a{
  color: white;
}
/* end of main image & icons */
.mobile_three_nav {
  width: 92%;
  margin: auto;
}
.all_nav {
  background-color: #000000;
  color: #FFFFFF;
  margin-top: 22px;
  padding-bottom: 8px;
  border-radius: 3px;
  position: relative;
  height: 80px;
}
.all_nav h3{
  display:inline-block;
  padding-left: 120px;
  margin-top: 30px;
  font-family: 'Nanum Gothic', sans-serif;
}
.all_nav a{
  display: inline-block;
  margin-left: 120px;
  font-size: 11px;
  margin-top: 0px;
  color: #FAA623;
  font-family: 'Nanum Gothic', sans-serif;
}
.all_logo img{
  height: 28px;
  position: absolute;
  top: 28px;
  left: 16px;
}
/* end of mobile nav design */

.Programs_wrapper {
  margin: auto;
  margin-top: 90px;
  width: 92%;
}
.pro_main h3{
  font-size: 22px;
  font-family: 'Nanum Gothic', sans-serif;
}
.prog_ul {
  width: 6.5%;
    border-bottom: 1px solid black;
    margin-left: 1px;
    padding-top: 6px;
}
.prog_leftb {
  padding-top: 16px;
  float: left;
}
.prog_rightb {
  padding-top: 16px;
}
.ug_mainbg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../images/ug.jpg);
  height: 182px;
  background-repeat: no-repeat;
  background-size: cover;
}
.under_wrapper h2{
  color: #FFFFFF;
  font-size: 25px;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}
.ug_mtext h2{
  padding-top: 64px;

}
.ug_mtext a{
  color: #FAA623;
  text-decoration: underline;
  font-family: 'Nanum Gothic', sans-serif;
}
.under_wrapper p{
  font-size: 15px;
  text-align: center;
  padding-top: 60px;
  padding-top: 44px;
}
.pg_mainbg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../images/pg.jpg);
  height: 182px;
  background-repeat: no-repeat;
  background-size: cover;
}
.post_wrapper h2{
  color: #FFFFFF;
  font-size: 25px;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}
.pg_mtext h2{
  padding-top: 64px;
}
.post_wrapper a{
  color: #FAA623;
  text-decoration: underline;
  font-family: 'Nanum Gothic', sans-serif;
}
.post_wrapper p{
  font-size: 15px;
  text-align: center;
  padding-top: 60px;
  padding-top: 44px;
}
.under_post_graduate {
  margin-top: 1px;
  width: 82%;
  margin: auto;
}
.post_wrapper {
  margin-top: 40px;
}
.p_ul {
  width: 100%;
    border-bottom: 2px solid #D7D7D7;
    padding-top: 30px;
}
/* end of programs design section */
.register_wrapper {
  width: 100%;
  padding-top: 32px;
}
.reg_main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../images/mregister.jpg);
  height: 714px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80%;
}
/* .register_wrapper {
  text-align: center;
} */
.reg_msg p{
  color: #FFFFFF;
  font-size: 22px;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}
.reg_msg span{
  color: #FAA623;
}
.reg_msg h2{
  color: #FFFFFF;
  font-size: 56px;
  text-align: center;
  font-family: 'Libre Franklin', sans-serif;
}
.reg_msg {
  padding-top: 38px;
  padding-bottom: 212px;
}
.regbox {
  width: 296px;
  height: 320px;
  border-radius: 3px;
  background-color: white;
  background-image: url(../images/regarc.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  margin: auto;
}
.in_box{
  display: inline-block;
  margin: auto;
  margin-left: 38px;
  margin-top: 30px;
}
.in_box p{
  color: #FFFFFF;
  font-size: 22px;
  text-align: left;
  font-family: 'Libre Franklin', sans-serif;
}
.form_main input{
  width: 90%;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 6px;
  border-radius: 3px;
  border-color: #C0C0C0;
  padding: 7px;
}
.regbox input{
}
.regbutton button{
  background-color: black; /* Green */
    border: none;
    color: white;
    width: 95%;
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0px;
    cursor: pointer;
    border-radius: 3px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.regbutton button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
.regform_button {
  margin-top: 68px;
  margin-left: 14px;
}

/* registration section end */

.events_parent {
  width: 88%;
  margin: auto;
  margin-top: 120px;
}
.events_parent h2 {
  font-size: 28px;
  font-family: 'Nanum Gothic', sans-serif;
}
.events_parent p {
  font-size: 14px;
  font-family: 'Nanum Gothic', sans-serif;
}
.events_parent h3 {
  font-size: 24px;
  font-family: 'Nanum Gothic', sans-serif;
}
.events_ul {
  width: 35px;
    border-bottom: 1px solid black;
    padding-top: 6px;
  }
.eventsbutton button {
  background-color: black; /* Green */
    border: none;
    color: white;
    border-radius: 3px;
    padding: 2px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 5px 8px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.eventsbutton button:hover {
  background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 3px;
  }
  .events_ul2 {
  width: 100%;
    border-bottom: 2px solid #D7D7D7;
    margin-top: 20px;
  }
  .events_parent h2, .events_parent p,.events_parent h3 {
    padding-top: 6px;
  }
.events_parent button{
  /* margin-left: 400px; */
  float: right;
}
.eventsbutton {
  /* margin-right: 20px; */
  padding-bottom: 30px;
}
.event_contents img{
  width: 100%;
}
.events p{
  color: #FAA623;
  font-size: 44px;
  font-family: 'Libre Franklin', sans-serif;
}
.events span{
  font-size: 12px;
}
.events figure{
  margin-top: 12px;
}
.event_contents {
  margin-top: 24px;
}
.events_jm {
  padding-top: 8px;
}
.jm_maintext {
  padding-top: 6px;
  font-family: 'Nanum Gothic', sans-serif;
}
.jm_ul {
  width: 90%;
    border-bottom: 2px solid #F0F0F0;
    margin-top: 20px;
    margin-left: 24px;
}
.sm_mainc {
  padding-top: 20px;
}
.sm_header {
  padding-top: 8px;
}
.sm_description {
  padding-top: 6px;
}
/* events section end */
.lnews_wrapper {
  padding-top: 40px;
}
.l_news {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)),url(../images/lnmain.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 410px;
}
.l_news h2{
  padding-top: 40px;
  color: #FFFFFF;
  font-family: 'Nanum Gothic', sans-serif;
}
.news_description p{
  color: #FFFFFF;
  font-family: 'Nanum Gothic', sans-serif;
}
.ln_underline {
  width: 52px;;
    border-bottom: 1px solid white;
}
.l_news_leftbutton {
  display: inline-block;
  float: right;
  padding-right: 32px;
  margin-top: -38px;
}
.l_news_rightbutton {
  margin-top: -38px;
  float: right;
}
.newsbuttonduo {
  /* margin-left: 390px; */
}
/* latest news button section end string*/
.gd_img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)),url(../images/gdesign.jpg);
  height: 102px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.l_newsalign{
  margin: auto;
  width: 88%;
}
.ln_contents1 {
  display: inline-block;
  width: 38%;
  margin-top: 86px;
}
.ln_contents1 h4{
  color: #FFFFFF;
  font-size: 22px;
  padding-top: 34px;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}
.ln_contents1 p{
  text-align: center;
  margin-top: 16px;
}
.ln_contents1 a{
  color: #FAA623;
  font-size: 13px;
  text-decoration: underline;
  font-family: 'Nanum Gothic', sans-serif;
}
.lu_img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)),url(../images/lupdate.png);
  display: inline-block;
  height: 102px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.ln_contents2 {
  width: 38%;
  display: inline-block;
  margin-top: 86px;
  float: right;
}
.ln_contents2 h4 {
  color: #FFFFFF;
  font-size: 22px;
  padding-top: 36px;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}
.ln_contents2 p{
  text-align: center;
  margin-top: 16px;
}
.ln_contents2 a{
  color: #FAA623;
  font-size: 13px;
  text-decoration: underline;
  font-family: 'Nanum Gothic', sans-serif;
}
/* latest news section end string */
.rd_wrapper {
  width: 90%;
  padding-top: 80px;
  margin: auto;
}
.rnd_header h2{
  font-size: 22px;
  font-family: 'Nanum Gothic', sans-serif;
}
.rnd_ul {
  width: 58px;
    border-bottom: 1px solid black;
    padding-top: 6px;
}
.rnd_image img{
  padding-top: 28px;
  width: 100%;
}
.rnd_content {
  width: 98%;
}
.rnd_content p{
  text-align: left;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 15px;
  padding-top: 16px;
}
/* Research & development section end */

.students_list {
  width: 100%;
  padding-top: 96px;
}
.students_list h2{
  text-align: center;
  font-family: 'Yeseva One', cursive;
}
.sl_ul_pos {
  text-align: center;
}
.sl_ul {
  width: 14%;
    border-bottom: 1px solid black;
    display: inline-block;
    margin-left: 7px;
}
.d_trump {
  text-align: center;
  padding-top: 50px;
}
.d_trump h3{
  font-size: 30px;
  font-family: 'Nanum Gothic', sans-serif;
}
.d_trump p{
  font-size: 13px;
  color: #AFAFAF;
  font-family: 'Nanum Gothic', sans-serif;
}
.d_trump {
  text-align: center;
}
.d_trump_th {
  padding-top: 10px;
  text-align: center;
  font-size: 15px;
  font-family: 'Nanum Gothic', sans-serif;
}
/* donalt trump section ended */
.n_modi {
  text-align: center;
  padding-top: 50px;
}
.n_modi h3{
  font-size: 30px;
  font-family: 'Nanum Gothic', sans-serif;
}
.n_modi p{
  font-size: 13px;
  color: #AFAFAF;
  font-family: 'Nanum Gothic', sans-serif;
}
.n_modi {
  text-align: center;
}
.n_modi_th {
  padding-top: 10px;
  text-align: center;
  font-size: 15px;
  font-family: 'Nanum Gothic', sans-serif;
}
/* narendra modi section ended */
.v_putin {
  text-align: center;
  padding-top: 50px;
}
.v_putin h3{
  font-size: 30px;
  font-family: 'Nanum Gothic', sans-serif;
}
.v_putin p{
  font-size: 13px;
  color: #AFAFAF;
  font-family: 'Nanum Gothic', sans-serif;
}
.nv_putin {
  text-align: center;
}
.v_putin_th {
  padding-top: 10px;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 15px;
}

.students_ul {
  width: 100%;
border-bottom: 1px solid #D7D7D7;
padding-top: 30px;
text-align: center;
}

/* V putin section ended */
.newsl_parent {
  padding-top: 35px;
  padding-bottom: 56px;
}
.newsl_parent p{
  text-align: center;
  font-size: 13px;
  font-family: 'Nanum Gothic', sans-serif;
}
.email_input {
  margin: auto;
  width: 90%;
}
.email_input input{
  width: 76%;
    height: 29px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 6px;
    margin-top: 28px;
    border-radius: 3px;
    border-color: #C0C0C0;
    padding-top: 2.5px;
}
.email_input button{
  background-color: #F0AE39;
border: none;
border-radius: 3px;
color: white;
padding: 8px 21px;
text-align: center;
font-size: 13px;
margin-top: 28px;
margin-left: -4px;
transition: 0.3s;
display: inline-block;
text-decoration: none;
cursor: pointer;
padding-top: 10px;
}
/* end of newsletter section */

.footer_parent {
  background-color: #000000;
  height: 187px;
}
.footer_contact {
  color: #FFFFFF;
  display: inline-block;
  padding-top: 16px;
  margin-right: 30px;
}
.footer_sm img{
  width: 4%;
}
.footer_ul{
  width: 96%;
    border-bottom: 1px solid #2C2C2C;
    margin: auto;
}
.footer_contact ul li{
  float: left;
}
.footer_contact ul li p{
  display: inline-block;
  font-size: 11px;
  margin-right: -17px;
  margin-left: 8px;
  font-family: 'Nanum Gothic', sans-serif;
}
.footer_contact ul li i{
  margin-left: 20px;
}
.footerbg{
  text-align: center;
}
.footer_logo {
  padding-top: 8px;
}
.footer_links {
 float: right;
 margin-bottom: 20px;
}
.footer_links li{
  display: inline-block;
}
.footer_links ul li{
  float: left;
  padding-right: 8px;
}
.footer_linker a{
  color: #585858;
  font-size: 10px;
  font-family: 'Nanum Gothic', sans-serif;
}
.footer_links {
  margin-right: 20px;
  margin-top: 8px;
}
.footer_sm {
 margin-left: 20px;
 margin-top: 30px;
}
.footer_sm img{
  float: left;
  padding-left: 6px;
}




/* end of mobile section  */

@media only screen and (min-width: 1200px) {
  .mobile_parent {
    display: none;
  }
  .pc_parent {
    display: block;
  }
.pc_headalign{
  width: 1100px;
  margin: auto;
}
.pc_head {
  background-color: #000000;
  color: #FFFFFF;
  height:62px;
}
.pc_head li{
  float: left;
  margin-top: 21px;
  font-size: 14px;
  padding-right: 6px;
  font-family: 'Nanum Gothic', sans-serif;
}
.pc_navhead {
  margin-left: 74px;
}
.pc_rl p{
  text-align: right;
  font-size: 14px;
}
.pc_rl{
  padding-top: 21px;
  margin-right: 72px;
  font-family: 'Nanum Gothic', sans-serif;
}
.pc_rl a{
  color: #FFFFFF;
}
.pc_mainimg {
    height: 732px;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../images/pcmain.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20% 20%;
}
.pc_logonav{
  margin: auto;
  width: 1112px;
}
.pc_mainlogo {
  float: left;
  margin-left: 80px;
  margin-top: 20px;
}
.pc_navbar {
float: right;
margin-right: 60px;
margin-top: 20px;
}
.pc_navbar ul li{
  display: inline-block;
  color: #FFFFFF;
  margin-right: 20px;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 14px;
}
.pcnav_homeul{
  width: 25px;
    border-bottom: 2px solid white;
    padding-top: 2px;
}
.pc_navbar a{
  color: #FFFFFF;
}
.pc_navbar a:hover{
  font-weight: bold;
  transition: 0.5s;
}
.pc_h2btn{
  width: 954px;
  margin: auto;
  padding-top: 222px;
}

.pc_hero1 p{
  display: inline-block;
  color: #FFFFFF;
  font-family: 'Nanum Gothic', sans-serif;
}
.pc_mainimg h3{
  color: #FFFFFF;
  margin-top: -26px;
  font-family: 'Libre Franklin', sans-serif;
}
.pc_hero1 {
  font-size: 25px;
}
.pc_hero2 {
  font-size: 98px;
}
.pcexp_button {
  text-align: center;
  float: left;
}
.pcmain_button {
  background-color: #ffb606;
  border: none;
  outline: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 18px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Nanum Gothic', sans-serif;
}
.pcmain_button:hover {
  background-color: #FF8A1C;
}
.pcmain_button a{
  color: white;
}
/* main section end */
.pc_nullnav {
  display: inline-block;
  background-color: #000000;
  opacity: 0.6;
  height: 166px;
  width: 26%;
  float: left;
}
.pc_nullnav img{
  height: 36px;
  margin-top: 60px;
  padding-right: 140px;
}
.pc_nullnav h5{
  color: #FFFFFF;
  font-size: 24px;
  text-align: center;
  margin-top: -33px;
  padding-left: 51px;
  font-family: 'Nanum Gothic', sans-serif;
}
.pc_nullnav p{
  color: #FFFFFF;
  text-align: center;
  margin-top: 36px;
  font-size: 13px;
  font-family: 'Nanum Gothic', sans-serif;
}
.pc_nullnav a{
  color: #ffb606;
}
.pc_nullnav a:hover{
  color: #FFE803;
  font-size: 15px;
  text-decoration: underline;
  transition: 0.1s;
}
/* Campus life design section end */
.pc_nullnav1 {
  display: inline-block;
  background-color: #000000;
  opacity: 0.6;
  height: 166px;
  width: 26%;
}
.pc_nnt{
  text-align: center;
  width: 954px;
  margin: auto;
  padding-top: 160px;
}
.pc_nullnav1 img{
  height: 36px;
  margin-top: 60px;
  padding-right: 140px;
}
.pc_nullnav1 h5{
  color: #FFFFFF;
  font-size: 24px;
  text-align: center;
  margin-top: -33px;
  padding-left: 51px;
  font-family: 'Nanum Gothic', sans-serif;
}
.pc_nullnav1 p{
  color: #FFFFFF;
  text-align: center;
  margin-top: 36px;
  font-size: 13px;
  font-family: 'Nanum Gothic', sans-serif;
}
.pc_nullnav1 a{
  color: #ffb606;
}
.pc_nullnav1 a:hover{
  color: #FFE803;
  font-size: 15px;
  text-decoration: underline;
  transition: 0.1s;
}
/* Notice board section end */
.pc_nullnav2 {
  display: inline-block;
  background-color: #000000;
  opacity: 0.6;
  height: 166px;
  width: 26%;
  float: right;
}
.pc_nullnav2 img{
  height: 36px;
  margin-top: 60px;
  padding-right: 140px;
}
.pc_nullnav2 h5{
  color: #FFFFFF;
  font-size: 24px;
  text-align: center;
  margin-top: -33px;
  padding-left: 51px;
  font-family: 'Nanum Gothic', sans-serif;
}
.pc_nullnav2 p{
  color: #FFFFFF;
  text-align: center;
  margin-top: 36px;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 13px;
}
.pc_nullnav2 a{
  color: #ffb606;
}
.pc_nullnav2 a:hover{
  color: #FFE803;
  font-size: 15px;
  text-decoration: underline;
  transition: 0.1s;
}
/* End of nullnav section design */
.pcprog_wrapper {
  padding-top: 100px;
  width: 948px;
  margin: auto;
}
.pc_proghead h3{
  font-size: 26px;
  font-family: 'Nanum Gothic', sans-serif;
}
.pc_progul {
  width: 3%;
    border-bottom: 1px solid black;
    padding-top: 2px;
}
.pcprog_ugmain {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../images/ug.jpg);
  height: 162px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 32%;
  padding-top: 3px;
  margin-top: 78px;
  display: inline-block;
}
.pcprog_ugmain h4{
  color: #FFFFFF;
  font-size: 26px;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}
.pcug_head {
  margin-top: 68px;
}
.pcug_vm p{
  text-align: center;
  margin-top: 34px;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 13px;
}
.pcug_vm a{
  color: #ffb606;
}
.pcug_vm a:hover{
  text-decoration: underline;
  color: #FFE803;
  font-size: 13.5px;
  transition: 0.1s;
}
.pcprog_ugtext {
  float: right;
  width: 42%;
  padding-right: 206px;
  padding-top: 102px;
}
.pcprog_ugtext p{
  font-size: 12px;
  text-align: left;
  font-family: 'Nanum Gothic', sans-serif;

}
/* End of under graduate pc section */
.pcprog_pgmain {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../images/pg.jpg);
    height: 162px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 32%;
    display: inline-block;
    float: right;
    margin-top: 78px;
}
.pcprog_pgmain h4{
  color: #FFFFFF;
  font-size: 26px;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}
.pcpg_head {
  margin-top: 68px;
}
.pcpg_vm p{
  text-align: center;
  margin-top: 32px;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 13px;
}
.pcpg_vm a{
  color: #ffb606;
}
.pcpg_vm a:hover{
  text-decoration: underline;
  color: #FFE803;
  font-size: 13.5px;
  transition: 0.1s;
}
.pcprog_pgtext {
  width: 40%;
  padding-left: 244px;
  padding-top: 102px;
}
.pcprog_pgtext p{
  font-size: 12px;
  text-align: left;
  font-family: 'Nanum Gothic', sans-serif;
}
/* End Of programs design section */
.pc_registerwrap {
  padding-top: 160px;
}
.pcreg_main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../images/pcreg.jpg);
  height: 660px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80% 12%;
}
.pcreg_align{
  width: 926px;
  margin: auto;
}


.pcreg_msg p{
  color: #FFFFFF;
  font-size: 22px;
  text-align: left;
  font-family: 'Nanum Gothic', sans-serif;
}
.pcreg_msg span{
  color: #FAA623;
}
.pcreg_msg h2{
  color: #FFFFFF;
  font-size: 70px;
  font-family: 'Libre Franklin', sans-serif;
}
.pcreg_msg {
  display: inline-block;
  padding-top: 264px;
  margin-left: 12px;
}
.pcregbox {
  display: inline-block;
  width: 280px;
  height: 346px;
  border-radius: 3px;
  background-color: white;
  padding-left: 30px;
  background-image: url(../images/regarc.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  float: right;
  margin-top: 200px;
}
.pcin_box p{
  color: #FFFFFF;
  font-size: 22px;
  margin-top: 36px;
  text-align: center;
  margin-right: 22px;
  font-family: 'Libre Franklin', sans-serif;
}
.pcform_main input{
  width: 90%;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 6px;
  border-radius: 3px;
  border-color: #C0C0C0;
  padding: 7px;
}
.pcregbox input{
}
.pcregbutton button{
  background-color: black; /* Green */
    border: none;
    color: white;
    width: 96%;
    outline: none;
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 1px;
    cursor: pointer;
    border-radius: 3px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.pcregbutton button:hover {
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.24),0 4px 20px 0 rgba(0,0,0,0.19);
  }
.pcregform_button {
  margin-top: 88px;
  margin-right: 20px;
}
/* Registration section for PC end */
.pcevents_wrapper{
  width: 910px;
  margin: auto;
  padding-top: 80px;
  position: relative;
  /* width: 88%; */
}
.pcevents_header h3{
  font-size: 26px;
  font-family: 'Nanum Gothic', sans-serif;
}
.pcevents_header {
  display: inline-block;
  margin-left: 27px;
}
.pcevents_headerul{
  width: 5%;
border-bottom: 1px solid black;
margin-left: 27px;
margin-top: 1px;
}
.pcevents_desc p{
  font-size: 13px;
  font-family: 'Nanum Gothic', sans-serif;
}
.pcevents_desc {
  display: inline-block;
  padding-top: 20px;
  margin-left: 27px;
}
.pcevents_vabutton button{
  background-color: black; /* Green */
    border: none;
    color: white;
    border-radius: 3px;
    padding: 3px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 5px 8px;
    outline: none;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.pcevents_vabutton button:hover{
  background-color: white;
    color: black;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 3px;
  }
.pcevents_vabutton {
  display: inline-block;
  float: right;
}
.pcevents_ul1{
  width: 84%;
    border-bottom: 2px solid #D7D7D7;
    padding-top: 30px;
    margin-left: 22px;
    display: inline-block;
}
.pcevents_date1 {
  display: inline-block;
  font-size: 18px;
  color: #FAA623;
  margin-left: 22px;
}
.pcevents_date1 span{
  font-size: 50px;
  font-family: 'Libre Franklin', sans-serif;
}
.pcevents_datesl{
  display: inline-block;
  padding-top: 56px;
  float: left;
}
.pcevents_sl1 {
    border-left: 2px solid #D7D7D7;
    padding-top: 50px;
    float: right;
}
.pcevents_sideline1 {
  position: relative;
  bottom: 68px;
  left: 80px;
}
.pcevents_loc1{
  margin-right: 85px;
  font-size: 14px;
}
.pcevents_d1 {
  width: 358px;
}
.pcevents_d1 p{
  text-align: left;
  font-size: 13px;
  font-family: 'Nanum Gothic', sans-serif;
}
.pcevents_align1 {
  width: 29%;
  display: inline-block;
  margin-left: 170px;
  margin-top: -23px;
}
.pcevents_mjt {
  padding-top: 50px;
  display: inline-block;
  font-family: 'Nanum Gothic', sans-serif;
}
.pcevents_align1 p{
  padding-top: 10px;
}
.pcevents_pic1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),url(../images/eventsjm.jpg);
  height: 130px;
  width: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  float: right;
  margin-top: 30px;
}
/* JM section for pc events end design */
.pcevents_ul2{
  width: 84%;
    border-bottom: 2px solid #D7D7D7;
    padding-top: 30px;
    margin-left: 12px;
    display: inline-block;
}
.pcevents_date2 {
  display: inline-block;
  font-size: 18px;
  color: #FAA623;
  margin-left: 22px;
}
.pcevents_date2 span{
  font-size: 50px;
  font-family: 'Libre Franklin', sans-serif;
}
.pcevents_dates2{
  display: inline-block;
  padding-top: 56px;
  float: left;
}
.pcevents_sl2 {
    border-left: 2px solid #D7D7D7;
    padding-top: 50px;
    float: right;
}
.pcevents_sideline2 {
  position: relative;
  bottom: 68px;
  left: 80px;
}
.pcevents_align2 {
  width: 29%;
  display: inline-block;
  margin-left: 170px;
  margin-top: -23px;
}
.pcevents_mjt1 {
  padding-top: 50px;
  display: inline-block;
  font-family: 'Nanum Gothic', sans-serif;
}
.pcevents_d2{
  width: 385px;
}
.pcevents_d2 p{
  text-align:left;
  font-size: 13px;
  font-family: 'Nanum Gothic', sans-serif;
}
.pcevents_loc2 {
  margin-right: 112px;
  font-size: 14px;
}
.pcevents_align2 p{
  padding-top: 10px;
}
.pcevents_pic2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),url(../images/eventssm.jpg);
  height: 130px;
  width: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  float: right;
  /* background-position: 80% 12%; */
  margin-top: 30px;
}
.pcevents_smsec {
  padding-top: 48px;
}
/* Events section design end */
.pcln_mainbg {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),url(../images/lnpc.jpg);
  height: 518px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.pcln_wrapper {
  padding-top: 148px;
}
.pcln_headingul {
  width: 10%;
    border-bottom: 1px solid #FFFFFF;
    display: inline-block;
    margin-bottom: 10px;
}
.pcln_headsect {
  width: 898px;
  margin: auto;
}
.pcln_heading h3{
  color: #FFFFFF;
  font-size: 38px;
  padding-top: 35px;
  font-family: 'Nanum Gothic', sans-serif;
}
.pcln_desc p{
  color: #FFFFFF;
  font-size: 16px;
  text-align: left;
  font-family: 'Nanum Gothic', sans-serif;
}
.pcln_allcon {
  width: 100%;
  padding-top: 20px;
}
/* game design section start */
.pcln_gdc {
  float: left;
  display: inline-block;
  width: 25%;
}
.pcln_gdpic {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),url(../images/gdesign.jpg);
  height: 154px;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 116%;
}
.pcln_gdpic h5{
  color: #FFFFFF;
  font-size: 22px;
  text-align: center;
  margin-top: 70px;
  font-family: 'Nanum Gothic', sans-serif;
}

.pcln_gdpic a{
  color: #FAA623;
}
.pcln_gdpic p{
  text-align: center;
  margin-top: 34px;
  font-size: 13px;
  font-family: 'Nanum Gothic', sans-serif;
}
.pcln_gdpic a:hover{
  text-decoration: underline;
  color: #FFE803;
  font-size: 13.5px;
  transition: 0.3s;
}
/* game design section end */
.pcln_luc {
  display: inline-block;
  width: 25%;
}
.pcln_mains, .pcln_luc{
  text-align: center;
}
.pcln_mains {
  padding-top: 96px;
  width: 898px;
  margin: auto;
}
.pcln_lupic {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),url(../images/lupdate.png);
  height: 154px;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 116%;
}
.pcln_lupic h5{
  color: #FFFFFF;
  font-size: 22px;
  text-align: center;
  margin-top: 70px;
  font-family: 'Nanum Gothic', sans-serif;
}

.pcln_lupic a{
  color: #FAA623;

}
.pcln_lupic p{
  text-align: center;
  margin-top: 34px;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 13px;
}
.pcln_lupic a:hover{
  text-decoration: underline;
  color: #FFE803;
  font-size: 13.5px;
  transition: 0.3s;
}
/* library update section end */
.pcln_fgc{
  float: right;
  display: inline-block;
  width: 25%;

}
.pcln_fgpic {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),url(../images/fg.jpg);
  height: 154px;
  background-repeat: no-repeat;
  display: inline-block;
  background-size: cover;
  width: 110%;
  background-size: cover;
}
.pcln_fgpic h5{
  color: #FFFFFF;
  font-size: 22px;
  text-align: center;
  margin-top: 70px;
  font-family: 'Nanum Gothic', sans-serif;
}

.pcln_fgpic a{
  color: #FAA623;
}
.pcln_fgpic p{
  text-align: center;
  margin-top: 34px;
  font-size: 13px;
  font-family: 'Nanum Gothic', sans-serif;
}
.pcln_fgpic a:hover{
  text-decoration: underline;
  color: #FFE803;
  font-size: 13.5px;
  transition: 0.3s;
}
/* Latest news design section end */
.pcrnd_header h3{
  font-size: 26px;
  font-family: 'Nanum Gothic', sans-serif;
}
.pcrnd_headul {
  width: 6%;
border-bottom: 1px solid black;
}
.pcrnd_mainc {
  width: 896px;
  margin: auto;
  padding-top: 54px;
}
.pcrnd_picnbtn{
  margin-top: 50px;
  display: inline-block;
}
.pcrnd_pic{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url(../images/rnd.png);
  width: 578%;
  height: 254px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.pcrnd_lb {
  display: inline-block;
  margin-top: 118px;
  margin-left: 10px;
}
.pcrnd_lb img{
  filter: opacity(52%);
}
.pcrnd_rb {
  float: right;
  display: inline-block;
  margin-top: 118px;
  margin-right: 10px;
}
.pcrnd_rb img{
  filter: opacity(52%);
}
.pcrnd_desc {
  float: right;
  width: 30%;
  margin-top: 130px;
}
.pcrnd_desc p{
  font-size: 13px;
  text-align: left;
  font-family: 'Nanum Gothic', sans-serif;
}
/* R&D section for pc end */
.pcstudents_list {
  padding-top: 150px;
}
.pcstudents_list h2{
  text-align: center;
  padding-bottom: 10px;
  font-family: 'Yeseva One', cursive;
}
.pcstudents_headul {
  width: 6%;
    border-bottom: 1px solid black;
}
.pcstudents_headul{
  display: inline-block;
}
.pcstudents_list .pcstudents_head{
  text-align:center;
}
/* students list header section design end. */
.pcstudents_alignerchild{
  width: 868px;
  margin: auto;
}

.pcstudents_donaldcontainer{
  display: inline-block;
}
.pcstudents_donaldimage img{
  height: 115px;
  width: 115px;
  -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}
.pcstudents_donaldimage:hover img{
  -webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.pcstudents_donaldcontainer .pcstudents_donaldcontents{
  text-align: center;
}
.pcstudents_donaldcontainer {
  width: 20%;
  padding-top: 70px;
  margin-left: 20px;
  float: left;
}
.pcstudents_donaldname h4{
  font-size: 19px;
  display:inline-block;
  font-family: 'Nanum Gothic', sans-serif;
}
.pcstudents_donaldimage{
  padding-bottom: 8px;
}
.pcstudents_donaldpos{
  line-height: 0.8em;
}
.pcstudents_donalddesig {
  font-size: 10px;
  color: #C4C4C4;
  display: inline-block;
  font-family: 'Nanum Gothic', sans-serif;
}
.pcstudents_donalddesc{
  padding-top: 12px;
}
.pcstudents_donalddesc p{
  font-size: 12px;
  font-family: 'Nanum Gothic', sans-serif;
}
/* donald trump design section end */
.pcstudents_narendracontainer {
  width: 22%;
  display: inline-block;
  padding-top: 70px;
}
.pcstudents_aligner{
  width: 100%;
}
.pcstudents_narendraimage img{
  height: 115px;
  width: 115px;
  -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}
.pcstudents_narendraimage:hover img{
  -webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.pcstudents_narendracontainer .pcstudents_narendraimage {
  text-align: center;
  }
.pcstudents_narendracontainer h4, p{
  text-align: center;
}
.pcstudents_narendraname h4{
  font-size: 19px;
  padding-top: 10px;
  font-family: 'Nanum Gothic', sans-serif;
}
.pcstudents_narendradesig p{
  font-size: 10px;
  color: #C4C4C4;
  padding-top: 4px;
  font-family: 'Nanum Gothic', sans-serif;
}
.pcstudents_aligner{
  text-align: center;
}
.pcstudents_narendrapos {
  line-height: 0.8em;
}
.pcstudents_narendradesc p{
  font-size: 12px;
  margin-top: 10px;
  font-family: 'Nanum Gothic', sans-serif;
}
/* Narendra Modi section for design end */

.pcstudents_putincontainer {
  width: 20%;
  display: inline-block;
  padding-top: 70px;
  float: right;
}
.pcstudents_aligner{
  width: 100%;
}
.pcstudents_putincontainer .pcstudents_putinimage {
  text-align: center;
  }
  .pcstudents_putinimage img{
    height: 115px;
    width: 115px;
    -webkit-filter: grayscale(100%);
  	filter: grayscale(100%);
  	-webkit-transition: .1s ease-in-out;
  	transition: .1s ease-in-out;
  }
  .pcstudents_putinimage:hover img{
    -webkit-filter: grayscale(0);
  	filter: grayscale(0);
  }
.pcstudents_putincontainer h4, p{
  text-align: center;
}
.pcstudents_putinname h4{
  font-size: 21px;
  padding-top: 10px;
  font-family: 'Nanum Gothic', sans-serif;
}
.pcstudents_putindesig p{
  font-size: 10px;
  color: #C4C4C4;
  padding-top: 4px;
  font-family: 'Nanum Gothic', sans-serif;
}
.pcstudents_aligner{
  text-align: center;
}
.pcstudents_putinpos {
  line-height: 0.8em;
}
.pcstudents_putindesc p{
  font-size: 11px;
  margin-top: 10px;
  font-family: 'Nanum Gothic', sans-serif;
}
/* Vladimir Putin section end for design */
.pcnl_imgwrap {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),url(../images/pcln.png) top right;
  background-repeat: no-repeat;
  height:302px;
  max-width: 753px;
  margin: auto;
  text-align: center;
}

.pcnl_wrapper{
  margin-top: 130px;
  display: block;
  font-size: 13px;
  font-family: 'Nanum Gothic', sans-serif;
}
.pcemail_input{
  padding-top: 10px;
  margin-left: 30px;
}
.pcnl_desc {
  display: inline-block;
  width: 470px;
  margin-top: 108px;
}
.pcemail_input input{
  width: 400px;
    height: 29px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 6px;
    margin-top: 28px;
    border-radius: 0px;
    border-color: #C0C0C0;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: -4px;
    text-indent: 10px;
}
.pcemail_input button{
  background-color: #FFC604;
border: none;
border-radius: 0px;
color: white;
text-align: center;
font-size: 13px;
opacity: 1.6;
transition: 0.3s;
display: inline-block;
text-decoration: none;
cursor: pointer;
padding-top: 16px;
padding-bottom: 16px;
padding-right: 20px;
padding-left: 20px;
margin-right: 46px;
}
.pcemail_input button:hover{
  background-color: #F59000;
}
/* Pc newsletter section end. */
.pcfooter_main {
  background-color: #000000;
  height: 360px;
  width: 100%;
}
.pcfooter_container{
  width: 1200px;
  margin: auto;
  height: 340px;
  /* background-color: gray; */
}
.pcfooter_logoncontact {
  display: inline-block;
  width: 240px;
  height: 166px;
  margin-top: 46px;
  margin-left: 154px;
}
.pcfooter_logoncontact p{
  display: inline-block;
  font-size: 12px;
  color: #FFFFFF;
  font-family: 'Nanum Gothic', sans-serif;
}
.pcfooter_contacts {
  display: inline-block;
  margin-left: 30px;
  margin-top: 54px;
  line-height: 1.6em;
}
.pcfooter_listcont{
  display: inline-block;
  float: right;
  /* background-color: #28BC61; */
  width: 720px;
  height: 176px;
  margin-top: 56px;
  position: relative;
}
/* Org list section start */
.pcfooter_orglist{
  display: inline-block;
  /* background-color: #BDC923; */
  width: 145px;
  height: 174px;
}
.pcfooter_orglist h5{
  color: #FFFFFF;
  font-size: 24px;
  text-align: center;
  padding-bottom: 8px;
  font-family: 'Nanum Gothic', sans-serif;
}
.pcfooter_orglist li{
  text-align: left;
  font-size: 11px;
  padding-top: 13px;
  font-family: 'Nanum Gothic', sans-serif;
}

.pcfooter_orglist a{
  color: #9A9A9A;
}
.pcfooter_orglist a:hover{
  color: #CDCDCD;
  text-decoration: underline;
}
/* org list section end */
/* link list section start */
.pcfooter_linklist{
  display: inline-block;
  /* background-color: #AE37D1; */
  width: 145px;
  height: 174px;
  position: absolute;
  left: 186px;
}
.pcfooter_linklist h5{
  color: #FFFFFF;
  font-size: 24px;
  text-align:left;
  margin-left: 6px;
  padding-bottom: 8px;
  font-family: 'Nanum Gothic', sans-serif;
}
.pcfooter_linklist li{
  text-align: left;
  margin-left: 6px;
  font-size: 11px;
  padding-top: 13px;
  font-family: 'Nanum Gothic', sans-serif;
}
.pcfooter_linklist a{
  color: #9A9A9A;
}
.pcfooter_linklist a:hover{
  color: #CDCDCD;
  text-decoration: underline;
}
/* link list section end */
/* support list section start */
.pcfooter_supportlist{
  display: inline-block;
  /* background-color: #E9942A; */
  width: 145px;
  height: 174px;
  position: absolute;
  left: 293px;
}
.pcfooter_supportlist h5{
  color: #FFFFFF;
  font-size: 24px;
  text-align:left;
  margin-left: 6px;
  padding-bottom: 8px;
  font-family: 'Nanum Gothic', sans-serif;
}
.pcfooter_supportlist li{
  text-align: left;
  margin-left: 6px;
  font-size: 11px;
  padding-top: 13px;
  font-family: 'Nanum Gothic', sans-serif;
}
.pcfooter_supportlist a{
  color: #9A9A9A;
}
.pcfooter_supportlist a:hover{
  color: #CDCDCD;
  text-decoration: underline;
}
/* support list section end */
/* Recommend list section start */
.pcfooter_reclist{
  display: inline-block;
  /* background-color: #FF0101; */
  width: 145px;
  height: 174px;
  position: absolute;
  right: 146px;
}
.pcfooter_reclist h5{
  color: #FFFFFF;
  font-size: 24px;
  text-align:left;
  margin-left: 6px;
  padding-bottom: 8px;
  font-family: 'Nanum Gothic', sans-serif;
}
.pcfooter_reclist li{
  text-align: left;
  margin-left: 6px;
  font-size: 11px;
  padding-top: 13px;
  font-family: 'Nanum Gothic', sans-serif;
}
.pcfooter_reclist a{
  color: #9A9A9A;
}
.pcfooter_reclist a:hover{
  color: #CDCDCD;
  text-decoration: underline;
}
/* Recommend list section end */
.pcfooter_mainul{
    position: absolute;
    right: 160px;
    top: 200px;
    width: 868px;
    border-bottom: 1px solid #5E5E5E;
    display: inline-block;
}
.pcfooter_smcont{
  width: 248px;
  height: 34px;
  display: inline-block;
  margin-top: 22px;
  margin-left: 182px;
  position: relative;
}
.pcfooter_smhead h6{
  font-size: 24px;
  color: #FFFFFF;
}
.pcfooter_smhead{
  display: inline-block;
  position: absolute;
  top: 2px;
}
.pcfooter_smfb{
  display: inline-block;
  position: absolute;
  right: 88px;
}
.pcfooter_smfb img{
  height: 34px;
  width: 34px;
  -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}
.pcfooter_smfb img:hover{
  -webkit-filter: grayscale(0);
	filter: grayscale(0);
}
.pcfooter_smtwitter{
  display: inline-block;
  position: absolute;
  right: 44px;
}
.pcfooter_smtwitter img{
  height: 34px;
  width: 34px;
  -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}
.pcfooter_smtwitter img:hover{
  -webkit-filter: grayscale(0);
	filter: grayscale(0);
}
.pcfooter_smyt{
  display: inline-block;
  position: absolute;
  right: 0px;
}
.pcfooter_smyt img{
  height: 34px;
  width: 34px;
  -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}
.pcfooter_smyt img:hover{
  -webkit-filter: grayscale(0);
	filter: grayscale(0);
}
/* end of sm section for pc */
.pcfooter_pslt{
  display: inline-block;
  float: right;
  margin-top: 104px;
  margin-right: 154px;
}
.pcfooter_pslt ul li{
  float: left;
  padding-right: 16px;
  font-size: 10px;
  font-family: 'Nanum Gothic', sans-serif;
}
.pcfooter_pslt a{
  color: #5E5E5E;
}
.pcfooter_pslt a:hover{
  color: #CDCDCD;
}
}
/* pc design end string */
